.bg-blue-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(191 219 254 / var(--tw-bg-opacity))
}
.first-letter\:rounded-none::first-letter {
    border-radius: 0px
}
.placeholder\:text-red-200::placeholder {
    --tw-text-opacity: 1;
    color: rgb(254 202 202 / var(--tw-text-opacity))
}
.after\:text-sm::after {
    content: var(--tw-content);
    font-size: 0.875rem;
    line-height: 1.25rem
}
.hover\:text-red-500:hover {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity))
}
@media (min-width: 768px) {
    .md\:flex {
        display: flex
    }
}