.factory__a7b15f373f2b {
  display: flex;
}
.factory__a7b15f373f2b {
  height: 100vh;
}
.factory__a7b15f373f2b {
  width: 100vw;
}
.factory__a7b15f373f2b {
  flex-direction: column;
}
.factory__a7b15f373f2b {
  align-items: center;
}
.factory__a7b15f373f2b {
  overflow: hidden;
}
.factory__a7b15f373f2b {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42/var(--tw-bg-opacity));
}
.factory__a7b15f373f2b {
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .factory__a7b15f373f2b {
    padding-top: 2.5rem;
  }
}
@media (min-width: 1536px) {
  .factory__a7b15f373f2b {
    padding-top: 3.5rem;
  }
}